.material-design-hamburger button {
  outline: none;
}

.material-design-hamburger .material-design-hamburger__icon {
  padding: 1rem 1rem;
}

/* bootstrap navbar header support */
.navbar .navbar-header .material-design-hamburger {
 float: left;
 position: relative;
 top: 14px;
 left: -8px;
 margin-right: 0px;
}
.navbar .navbar-header .material-design-hamburger .material-design-hamburger__layer {
  background: #ddd;
}
.navbar.navbar-inverse .navbar-header .material-design-hamburger .material-design-hamburger__layer {
  background: #fff;
}
/* xs screens */
@media (max-width: 767px) {
 .navbar .navbar-header .material-design-hamburger {
   margin-left: 0px;
   margin-right: -15px;
 }
}