.material-design-hamburger {
  transform: scale(0.27);
  width: 120px;
  margin-left: -46px;
}
.navbar .material-design-hamburger {
  position: absolute;

}

.material-design-hamburger button {
  outline: none;
}

.material-design-hamburger .material-design-hamburger__icon {
  padding: 1rem 1rem;
}