.material-design-hamburger {
  width: 120px;
  margin-left: -46px;
}
:not(.navbar) .material-design-hamburger {
  transform: scale(0.27);
}
.navbar .material-design-hamburger {
  position: absolute;
  top: 11px;
  transform: scale(0.22);
}
.navbar .material-design-hamburger__layer {
  background: #777;
}

.material-design-hamburger button {
  outline: none;
}

.material-design-hamburger .material-design-hamburger__icon {
  padding: 1rem 1rem;
}

/* xs screens */
@media (max-width: 767px) {
 .navbar .navbar-header .material-design-hamburger {
   left: 5px;
 }
}